<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<p>Создать пользователя</p>-->
<!--<form th:method="POST" th:action="save" th:object="${user}">-->
<!--    <label for="name">Enter name</label>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <br/>-->
<!--    <label for="lastName">Enter lastname</label>-->
<!--    <input type="text" th:field="*{lastname}" id="lastName"/>-->
<!--    <br/>-->
<!--    <label for="age">Enter age</label>-->
<!--    <input type="text" th:field="*{age}" id="age"/>-->
<!--    <br/>-->
<!--    <label for="username">Enter username</label>-->
<!--    <input type="text" th:field="*{username}" id="username"/>-->
<!--    <br/>-->
<!--    <label for="age">Enter password</label>-->
<!--    <input type="text" th:field="*{password}" id="password"/>-->
<!--    <br/>-->

<!--    <label>Roles:-->
<!--        <input type="checkbox" name="roles"-->
<!--               th:each="role : ${roles}"-->
<!--               th:text="${role.getName()}"-->
<!--               th:value="${role.getId()}"-->
<!--               th:field="*{roles}"/>-->

<!--    </label>-->
<!--    <p></p>-->
<!--    <input type="submit" value="Create"/>-->
<!--    <p></p>-->
<!--    <a href="/logout">EXIT</a>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Подключение Bootstrap для стилей -->
</head>
<body>

<div class="container">
    <!--    <form th:method="POST" th:action="@{/admin/update(id=${user.getId()})}" th:object="${user}" class="col-md-6 mx-auto"> &lt;!&ndash; Сужаем форму до 6 колонок и центрируем &ndash;&gt;-->
    <form th:method="POST" th:action="save" th:object="${user}" class="col-md-6 mx-auto">
        <input type="hidden" th:field="*{id}"/>

        <div class="row mb-3">
            <label for="name" class="form-label text-center fw-bold">First name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{name}" class="form-control form-control-lg text-center" id="name"
                       placeholder="Enter your first name" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="lastname" class="form-label text-center fw-bold">Last name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{lastname}" class="form-control text-center" id="lastname"
                       placeholder="Enter your last name" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="age" class="form-label text-center fw-bold">Age</label>
            <div class="col-sm-10">
                <input type="number" th:field="*{age}" class="form-control form-control-sm text-center" id="age"
                       placeholder="Enter your age" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="username" class="form-label text-center fw-bold">Username</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{username}" class="form-control text-center" id="username"
                       placeholder="Enter your username" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="password" class="form-label text-center fw-bold">Password</label>
            <div class="col-sm-10">
                <input type="password" th:field="*{password}" class="form-control form-control-sm text-center"
                       id="password" placeholder="Enter your password" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="floatingSelect" class="form-label text-center fw-bold">Role</label>
            <div class="col-sm-10">
                <div class="form-floating">
                    <select class="form-select text-center" id="floatingSelect"
                            aria-label="Floating label select example" required>
                        <option selected="">Open this select role</option>
                        <option value="1">ADMIN</option>
                        <option value="2">USER</option>
                    </select>

                </div>
            </div>
        </div>

        <div class="text-center"> <!-- Центрируем кнопку -->
            <button type="submit" class="btn btn-success">Add new user</button> <!-- Зеленая кнопка -->
        </div>
    </form>
</div>

<!--<div id="newUserContent" style="display: none;">-->
<!--    <h3>Add new user</h3>-->
<!--    <form th:method="POST" th:action="@{/admin/save}" th:object="${user}" class="col-md-6 mx-auto">-->
<!--        <input type="hidden" th:field="*{id}"/>-->

<!--        <div class="row mb-3">-->
<!--            <label for="name" class="form-label text-center fw-bold">First name</label>-->
<!--            <div class="col-sm-10">-->
<!--                <input type="text" th:field="*{name}" class="form-control form-control-lg text-center" id="name"-->
<!--                       placeholder="Enter your first name" required />-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--            <label for="lastname" class="form-label text-center fw-bold">Last name</label>-->
<!--            <div class="col-sm-10">-->
<!--                <input type="text" th:field="*{lastname}" class="form-control text-center" id="lastname"-->
<!--                       placeholder="Enter your last name" required />-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--            <label for="age" class="form-label text-center fw-bold">Age</label>-->
<!--            <div class="col-sm-10">-->
<!--                <input type="number" th:field="*{age}" class="form-control form-control-sm text-center" id="age"-->
<!--                       placeholder="Enter your age" required />-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--            <label for="username" class="form-label text-center fw-bold">Username</label>-->
<!--            <div class="col-sm-10">-->
<!--                <input type="text" th:field="*{username}" class="form-control text-center" id="username"-->
<!--                       placeholder="Enter your username" required />-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--            <label for="password" class="form-label text-center fw-bold">Password</label>-->
<!--            <div class="col-sm-10">-->
<!--                <input type="password" th:field="*{password}" class="form-control form-control-sm text-center"-->
<!--                       id="password" placeholder="Enter your password" required />-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--            <label for="role" class="form-label text-center fw-bold">Role</label>-->
<!--            <div class="col-sm-10">-->
<!--                <select th:field="*{role}" class="form-select text-center" id="role" aria-label="Role select" required>-->
<!--                    <option value="" selected>Select role</option>-->
<!--                    <option value="1">ADMIN</option>-->
<!--                    <option value="2">USER</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="text-center">-->
<!--            <button type="submit" class="btn btn-success">Add new user</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->


<hr/>

</body>
</html>
